.footer__copyright {
    font-style: normal;
    font-weight: normal;
    color: #545454;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 600px) {
    .footer__copyright {
        padding-bottom: 36px;
    }
}